<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search Function</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Loan Details</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form action="/search/searchquery" method="POST">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <select
                      class="form-control"
                      id="searchType"
                      name="searchType"
                    >
                      <option value="">Search By...</option>
                      <option value="leadSource">Lead Source</option>
                      <option value="name">Loan Name</option>
                      <option value="disbursalDate">Disbursal Date</option>
                      <option value="totalLoanAmount">Loan Amount</option>
                      <option value="leadSourceName">Lead Source Name</option>
                      <option value="maturityDate">Maturity Date</option>
                      <option value="emiAmount">EMI Amount</option>
                      <option value="currentFace">Current Face</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="zmdi zmdi-search"></i>
                      </div>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="searchCriteria"
                      name="searchCriteria"
                      placeholder="Search Criteria"
                    />
                  </div>
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-primary"
                    type="submit"
                    id="btn-search"
                  >
                    Search
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <select
                    class="form-control"
                    id="parameters"
                    name="parameters"
                  >
                    <option value="">Optional Parameters</option>
                    <option value="rounded">Rounded</option>
                    <option value="approximate">Approximate</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row justify-content-around">
          <h5>
            Sorry!! your search for "<%= details %>" did not return any results!
          </h5>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
